<%
=begin%>
 this is to show just one article ... its going to be a ruby object which we will then get its title and body,
we need to make sure its a single object , otherwise we wont get thatthing.title or thatthing.body
<%
=end%>

<h1><%=@article.title %></h1>
<p><%= @article.body %><p>

<ul>
    <li>
        <%= link_to "Edit", edit_article_path(@article) %>
    </li>
    <li>
        <%= link_to "Destroy" , article_path(@article), data: {
            turbo_method: :delete,
            turbo_confirm: "Are you sure?"
        }%>
    </li>
</ul>





